{
    "rules": [
        {
            "whenMatching" : [".+?@.+?\\.xyz", ".+?@.+?\\.global"],
            "moveTo" : "INBOX/MySpam"
        },
        {
            "whenMatching" : [".+?@.+?\\.legit"],
            "moveTo" : "INBOX/_HamMail"
        }
    ]
}
